In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as data

In [3]:
start = '2020-01-01'
end = '2022-11-01'

df = data.DataReader('AAPL','yahoo',start,end)
df.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.561539
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  72.846367
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200.0  73.426811
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000.0  73.081490
2020-01-08  76.110001  74.290001  74.290001  75.797501  132079200.0  74.257103

In [4]:
df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-10-26,151.990005,148.039993,150.960007,149.350006,88194300.0,149.102661
2022-10-27,149.050003,144.130005,148.070007,144.800003,109180200.0,144.560196
2022-10-28,157.500000,147.820007,148.199997,155.740005,164762400.0,155.482086
2022-10-31,154.240005,151.919998,153.160004,153.339996,97943200.0,153.086044
2022-11-01,155.449997,149.130005,155.080002,150.649994,80379300.0,150.400497

In [5]:
df = df.reset_index()
df.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.561539
1,2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,72.846367
2,2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.426811
3,2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.081490
4,2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.257103