In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as data

In [23]:
start = '2020-01-01'
end = '2022-11-01'

df = data.DataReader('AAPL','yahoo',start,end)
df.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-02  75.150002  73.797501  74.059998  75.087502  135480400.0  73.561523
2020-01-03  75.144997  74.125000  74.287498  74.357498  146322800.0  72.846375
2020-01-06  74.989998  73.187500  73.447502  74.949997  118387200.0  73.426834
2020-01-07  75.224998  74.370003  74.959999  74.597504  108872000.0  73.081497
2020-01-08  76.110001  74.290001  74.290001  75.797501  132079200.0  74.257103

In [24]:
df.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-10-26,151.990005,148.039993,150.960007,149.350006,88194300.0,149.102661
2022-10-27,149.050003,144.130005,148.070007,144.800003,109180200.0,144.560196
2022-10-28,157.500000,147.820007,148.199997,155.740005,164762400.0,155.482086
2022-10-31,154.240005,151.919998,153.160004,153.339996,97943200.0,153.086044
2022-11-01,155.449997,149.130005,155.080002,150.649994,80379300.0,150.400497

In [25]:
df = df.reset_index()
df.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.561523
1,2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,72.846375
2,2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.426834
3,2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.081497
4,2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.257103

In [26]:
df.head()

,Date,High,Low,Open,Close,Volume,Adj Close
0,2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,73.561523
1,2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,72.846375
2,2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,73.426834
3,2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.081497
4,2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.257103

In [35]:
data = df.filter(['close'])

In [36]:
data

          close
0     75.087502
1     74.357498
2     74.949997
3     74.597504
4     75.797501
..          ...
710  149.350006
711  144.800003
712  155.740005
713  153.339996
714  150.649994

[715 rows x 1 columns]

In [27]:
df = df.drop(['Date','Adj Close'],axis = 1)
df.head()

        High        Low       Open      Close       Volume
0  75.150002  73.797501  74.059998  75.087502  135480400.0
1  75.144997  74.125000  74.287498  74.357498  146322800.0
2  74.989998  73.187500  73.447502  74.949997  118387200.0
3  75.224998  74.370003  74.959999  74.597504  108872000.0
4  76.110001  74.290001  74.290001  75.797501  132079200.0

In [28]:
df.rename(columns = {"Date" : "date", "Open" : "open", "High" : "high", "Low" : "low","Close" : "close", "Volume" : "volume", "Currency" : "currency"}, inplace = True)
#renaming the data frame columns to lower case

In [29]:
df2=df.copy()

In [30]:
df2.head()

        high        low       open      close       volume
0  75.150002  73.797501  74.059998  75.087502  135480400.0
1  75.144997  74.125000  74.287498  74.357498  146322800.0
2  74.989998  73.187500  73.447502  74.949997  118387200.0
3  75.224998  74.370003  74.959999  74.597504  108872000.0
4  76.110001  74.290001  74.290001  75.797501  132079200.0

In [31]:
X = df2.drop(['close'],axis=1)
y = df2['close']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [32]:
X_train.head()

           high         low        open       volume
310  121.480003  118.919998  120.349998   94071200.0
542  165.119995  160.869995  163.839996   91974200.0
17    79.599998   78.047501   78.150002  162234000.0
266  139.850006  135.020004  136.279999  114459400.0
318  130.389999  128.520004  128.949997   88844600.0

In [33]:
X_test.head()

           high         low        open       volume
339  131.259995  129.479996  130.850006   78973300.0
142   94.904999   93.480003   93.709999  121214000.0
243  129.580002  128.039993  128.899994   94359800.0
236  124.980003  123.089996  124.370003   82225500.0
713  154.240005  151.919998  153.160004   97943200.0

In [34]:
data_training = pd.DataFrame(df['close'][0:int(len(df)*0.70)])
data_testing = pd.DataFrame(df['close'][int(len(df)*0.70):int(len(df))])

In [37]:
len(X_train)

572

In [17]:
len(X_test)

143

In [38]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))

In [39]:
data_training_array = scaler.fit_transform(X_train)

In [40]:
data_training_array

array([[0.49503466, 0.50950382, 0.50200771, 0.13766491],
       [0.85393829, 0.85468605, 0.85839548, 0.13222536],
       [0.1506055 , 0.1731877 , 0.15619112, 0.31447693],
       ...,
       [0.63945137, 0.64724763, 0.63058261, 0.07795284],
       [0.88930233, 0.88792895, 0.87208063, 0.10513865],
       [0.79604004, 0.79058671, 0.77284272, 0.1729911 ]])

In [41]:
X_train.shape

(572, 4)